[user]
	name = Bryan Crowe
	email = bryan@bryan-crowe.com
	signingkey = E1C3BE7C
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	editor = vim
	filemode = false
	excludesfile = ~/.gitignore_global
[github]
	user = bcrowe
