[user]
	name = Bryan Crowe
	email = bryan@bryan-crowe.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	editor = vim
	filemode = false
	excludesfile = /Users/beakman/.gitignore_global
[github]
	user = bcrowe
